extends ../shared/template
block content
  h1 New Vacation
  .row
    .col-xs-4
      form(role='form', method='post', action='/vacations')
        input#lat(type='hidden', name='lat')
        input#lng(type='hidden', name='lng')
        .form-group
          label(for='name') Vacation Name
          input.form-control#name(type='text', name='name', autofocus=true)
        .form-group
          label(for='start') Start Date
          input.form-control#start(type='date', name='start')
        .form-group
          label(for='end') End Date
          input.form-control#start(type='date', name='end')
        button.btn.btn-primary(type='submit') Add Vacation


block scripts
  script(src='/js/user/vacation.js')

