nav.navbar-default(role="navigation")

  .navbar-header
    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a(class='navbar-brand', href='/') World Traveler

  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav.navbar-right
      li.active
        a(href="/about") About
      li
        a(href="/faq") FAQ
      li
        a(href="/contact") Contact
      li
        a(href="/vacations/new") New Vacation


